<div class="container main searchInput">
  <div class="input-group mb-3 serch">
    <input [(ngModel)]="serch" type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button (click)="getMusic(serch)" type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </div>
  <div id="accordion">
    <div class="head">
      <div class="row box">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
          Artist
        </div>
        <div class="col-sm-2">
          Track
        </div>
        <div class="col-sm-2">
          Collection
        </div>
        <div class="col-sm-2">
          Genre
        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>
    <div class="card box odd" *ngFor="let res of music; index as index">
      <div class="card-header box" [attr.id]="'heading' + index">
        <h5 class="mb-0">
          <div (click)="click(index)" class="row box" data-toggle="collapse" [attr.data-target]="'#collapse' + index" aria-expanded="true" [attr.aria-controls]="'collapse' + index">
            <div class="col-sm-2">
              <img src="{{res.artworkUrl100}}">
            </div>
            <div class="col-sm-2">
              {{res.artistName}}
            </div>
            <div class="col-sm-2">
              {{res.trackName}}
            </div>
            <div class="col-sm-2">
              {{res.collectionName}}
            </div>
            <div class="col-sm-2">
              {{res.primaryGenreName}}
            </div>
            <div class="col-sm-2">
              <div class="right">
                <span *ngIf="sign[index]"> - </span>
                <span *ngIf="!sign[index]"> + </span>
              </div>
            </div>
          </div>
        </h5>
      </div>

      <div #span [attr.id]="'collapse' + index" class="collapse odd" [attr.aria-labelledby]="'heading' + index" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
              <h4>{{res.artistName}} - {{res.trackName}}</h4>
            </div>
            <div class="col-sm-6">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
              <span class="bold">Collection: </span><span>{{res.collectionName}}</span><br>
              <span class="bold">Track count: </span><span>{{res.trackCount}}</span><br>
              <span class="bold">Price: </span><span>{{res.collectionPrice}} USD</span><br>
            </div>
            <div class="col-sm-6">
              <span class="bold">Track duration: </span><span>{{res.trackTimeMillis | time}} min</span><br>
              <span class="bold">Track price: </span><span>{{res.trackPrice}} USD</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

